.image-name {
    padding-left: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/* CSS */
.update-button , .delete-button {
  margin-top: -40px;
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient( #c850c0, #4158d0);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  bottom: 10px; /* Position buttons at the bottom of the image */
  right: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-left: 50px;
}

.delete-button{
  margin-left:100px;
}

.image-container {
  margin-top: 95px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  
}

.image-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
  position: relative;
}